body{
    margin: 0;
    padding: 0;
}

.main-title{
    color: blue;
}
#cont-1{

}

.container{

    margin-left: 20px;
    margin-bottom: 30px;
}

.main-img{

}
.main-text{
    font-size: 10px;
    color: black;
}

.container p{ /* C символом > будет действовать на тэг p, что непосредственно близко к контейнеру. 
                Без > действует на все p*/
    color: red;
}


h1,h2,h3{
    color: red;
}

.text{
    display: block;
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.input-form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: -webkit-gradient(linear, left top, right top, from(rgb(121, 184, 252)), to(rgb(41, 144, 200)));
    background: -o-linear-gradient(left, rgb(121, 184, 252), rgb(41, 144, 200));
    background: linear-gradient(to right, rgb(121, 184, 252), rgb(41, 144, 200));

}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    

}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
    }

    .input-group input:focus {
        border-color: #007bff;
        outline: none;

    }


    .input-form button {
        width: 100%;
        padding: 10;
        border: none;
        border-radius: 4px;
        background: #007bff;
        color: #fff;
        font-size: 16px;
        cursor: pointer;

    }

    .input-form button:hover {

        background: #0056b3;
    }