<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mypage</title>
    <script src="../src/Jquery.js" type="text/javascript"></script>
    <script src="../src/011024.js" type="text/javascript"></script>  
  </head>
  <body>
    
    
  </body>
<script>

    

    //alert("Hello");
    //let name = "24";
    //let age = 24;
    //if (age >= 18){
    //    result = "ok";
    //}
    //else {
    //    result = "error"
    //};
    
    //console.log(result);

//let radiobtn = 1;
//if (radiobtn == 1){
 //   console.log(1)
//};
//    else if(radiobtn == 2){
//    console.log(2)
//};
//    else (radiobtn == 3){
//    console.log(3)
//};


//const myArray = [];
//const people = [
//    ['Tanya',25 ,false],
//    ['Ivan', 23, true],
//    ['Elena', 24, false],
//]
//console.log(people[1][2]);



//console.log(people[1]);
///let igor = people[2];
//people[10] = "Sergey";
//console.log(igor);


//   Стили нужно использовать одинаковые во всём коде. 3 вида:

//    1.PascalCase
 //       LastName
  //      MyCar
 //       MyList
//
  //  2. camelCase
  //      lastName
   //     myCar
  //      myList

    //3. snake_case
    //    last_name
  //      my_list
//

</script>

</html>